{% extends 'base.html' %}
{% block content %}

  
    {% if user.is_authenticated %}
    <h2>Customer List</h2>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Joined Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

      {% if records %}
        {% for record in records %}
            <tr>
              <td>{{ forloop.counter }}</td> <!-- that increments automatically.-->
              <!-- <td > {{ record.id }} </td> -->
              <td>
                 <a class="nav-link" style="white-space: nowrap;" href="{% url 'record' record.id %}">{{ record.first_name }} {{ record.last_name }} </a>
                </td>
              <td style="white-space: nowrap; ">{{ record.email }}</td>
              <td style="white-space: nowrap;">{{ record.phone }}</td>
              <td style="white-space: nowrap;">{{ record.address }} </td>
              <td style="white-space: nowrap;">{{ record.city }} </td>
              <td style="white-space: nowrap;">{{ record.state }} </td>
              <td style="white-space: nowrap;">{{ record.created_at }} </td> <!-- {{ record.created_at|date:"M d, Y" }} -->
              <td style="white-space: nowrap;">
                <div class="d-flex justify-content-between">
                  <!-- View Icon -->
                  <a href="{% url 'record' record.id %}" class="btn btn-link p-0 me-3" title="View Record">
                   <i class="fa fa-eye fa-lg text-info"></i>
                  </a>

                   <!-- Update Icon -->
                  <a href="{% url 'update-record' record.id %}" class="btn btn-link p-0 me-3" title="Update Record">
                  <i class="fa fa-pen fa-lg text-secondary"></i>
                  </a>

                  <!-- Delete Icon -->
                   <a href="{% url 'delete-record' record.id %}" class="btn btn-link p-0" title="Delete Record">
                     <i class="fa fa-trash fa-lg text-danger"></i>
                    </a>
                  </div>
               </td>
            </tr>
          
          {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Log in</h1>
    <br>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
    
            <div class="mb-3">
        
            <input type="text" class="form-control" name="username" placeholder="Username" required >
              
            </div>
            <div class="mb-3">
             
              <input type="password" class="form-control" name="password" placeholder="Password" required >
            </div>
            
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
        </div>
    

{% endif %}
{% endblock %}