{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> {{ customer_record }}</h5>
      <p class="card-text"> 
        <strong> Id: </strong>{{ customer_record.id }}  <br>          
        <strong> Email: </strong>{{ customer_record.email }}<br>
        <strong> Phone: </strong>{{ customer_record.phone }}<br>
        <strong> Address: </strong>{{ customer_record.address }} <br>
        <strong> City: </strong>{{ customer_record.city }} <br>
        <strong> State: </strong>{{ customer_record.state }} <br>
        <strong> ZipCode: </strong>{{ customer_record.zipcode }} <br>
        <strong> Joined_Date: </strong>{{ customer_record.created_at }} <br>
      </p>
      <div class="card-body d-flex justify-content-between">
      <a href="{% url 'home' %}" class="card-link btn btn-secondary" >Go back</a>
      <a href="{% url 'delete-record' customer_record.id  %}" class="card-link btn btn-danger" >Delete</a>
      <a href="{% url 'update-record' customer_record.id  %}" class="card-link btn btn-secondary" >Update</a>
    </div>
  </div>
  </div>
</div>

{% endblock content%}